.Toolbar {
    height: 8.2%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #703B09;
    display: flex; /* so that all the items in the toolbar are all next to each other */
    justify-content: space-between; /* 'justify-content' is a property of 'flex' that determines how the items are spread out */
    align-items: center; /* determines how they should be aligned VERTICLY */
    padding: 0 10px;
    box-sizing: border-box; /* to make sure that the toolbar is sized correctly, even with the padding */
    z-index: 90;
}

.Toolbar nav {
    height: 100%;   
}

.Logo {
    height: 80%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}